#pajarito http
server {
    listen 80;
    listen [::]:80;
    server_name pajarito;
    return 301 https://$server_name$request_uri;
}

#pajarito https
server {
    listen 443 ssl;
    listen [::]:443 ssl;

    ssl on;
    ssl_certificate /etc/nginx/ssl/certificate.pem;
    ssl_certificate_key /etc/nginx/ssl/private.key;
    
    server_name pajarito;
    root /var/www/pajarito/wordpress;
    index index.html index.htm index.nginx-debian.html index.php;
    
    location / {
        try_files $uri $uri/ =404;
    }
    
    # VERIFICAR BIEN QUE HACE ESTA INSTRUCCION
    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:run/php/php7.3-fpm.sock;
        autoindex on;
    } 
}
