#localhost http
server {
    listen 80;
    listen [::]:80;
    server_name localhost; //VERIFICAR BIEN EL NOMBRE
    return 301 https://$server_name$request_uri;
}

#localhost https
server {
    listen 443 ssl;
    listen [::]:443 ssl;

    ssl on;
    ssl_certificate /var/certs/certificate.pem
    ssl_certificate_key /var/certs/private.key
     
    # ssl_certificate /etc/ssl/certs/localhost.crt;
    # ssl_certificate_key /etc/ssl/certs/localhost.key;
    
    server_name localhost;
    root /var/www/localhost/wordpress;
    index index.html index.htm index.nginx-debian.html index.php;
    
    location / {
        try_files $uri $uri/ =404;
    }
    
    # VERIFICAR BIEN QUE HACE ESTA INSTRUCCION
    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:run/php/php7.3-fpm.sock;
        autoindex on;
    } 
}
